#expensesSharesChart, #expensesPerMontChart, #expensesPerYearChart {
  height: 370px;
  width: 100%;
  margin: 0 auto;
  border: 1px dashed black;
}

#expensesPerMontChart {
  margin: 20px auto;
}

#expensesPerYearChart {
  margin: 0 auto 20px auto
}